extends layout

block content
  h1 Request Header Parse Microservice
  p This is a microservice that shows your ip address, languague and operating system that your browser is runing. To run type "/whoami"
  p sample result: 
    b {"ipaddress":"64.9.54.135","language":"en-US","software":"X11; Linux i686"}
